/* estilos gerais da aplicação */

* {
  box-sizing: border-box;
  --cor-fundo: #E5E5E5;
  --cor-navbar: #C3CFD9;
  --cor-letra-titulo-navb:#E8833A;
  --cor-letra-titulos: #293845;
  --cor-letra-subtitulos-tela3: #4E5A65;
  --cor-letra-assentos: #000000;
  --cor-letra-subtitulos-botao:#FFFFFF;
  --cor-botoes: #E8833A;
  --cor-selecionado: #8DD7CF;
  --cor-disponivel: #C3CFD9;
  --cor-indisponivel: #FBE192;
  --cor-selecionado-borda: #1AAE9E;
  --cor-disponivel-borda: #7B8B99;
  --cor-indisponivel-borda: #F7C52B;
}

body {
  width: 375px;
  height: 67px;
  justify-content: center;
  align-items: center;
  color: var(--cor-letra-titulos);
  font-family: 'Roboto';
  font-style: normal;
  background: var(--cor-fundo);
}

.navbar{
  width:375px;
  height:67px;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--cor-letra-titulo-navb);
  background-color: var(--cor-navbar);
}

.top_title{
  width: 375px;
  height: 110px;

  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;

  color: var(--cor-letra-titulos);
}